div.gallery-page
    main
        div.content__default,
        footer.page-edit,
        div.page-nav
            // Display full width
            max-width: 100%
            padding: 2rem 2.5rem

div.photo-page
    main
        div.content__default,
        footer.page-edit,
        div.page-nav
            // Display full width
            max-width: 100%
            padding: 2rem 1.5rem